[submodule "src/core/lib/GeoEstimation"]
	path = src/core/lib/GeoEstimation
	url = https://github.com/CaoHoangTung/GeoEstimation
[submodule "extern/tsr"]
	path = extern/tsr
	url = https://github.com/xGodlike0/TRAFFIC-SIGNS-RECOGNITION.git
